@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Share+Tech+Mono);
html,body{min-height:100%}
body{
  background:#333 url(https://images.unsplash.com/photo-1513528473392-f3fffb1b31a9?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=c921fd60de0ffc0632698fafb1468b08)  center no-repeat;
  background-size:cover;
  font-family: 'Roboto', sans-serif;
  color:#333;
  text-align:center;
  margin:0
}
h1{
  margin:0;
  padding:50px 0;
  font-family: 'Share Tech Mono', monospace;
  font-weight:800;
  color:rgba(255,255,255,1);
  text-shadow: -3px 7px 0 #000a, 0 0 10px #11A7E0;
  height:100px;
 box-shadow:0 200px 150px -150px  rgba(0,0,0,0.7) inset;
}

.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.opened:before {
  display: block;
}
.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  
  top: 20%;
}
.modal-dialog {
  background: rgba(255,255,255,0.91);
  border: #333333 solid 0px;  
  margin-left: -200px;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  box-shadow:0 5px 10px rgba(0,0,0,0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
  line-height:1.5em
}
.modal-body span{
  text-transform: capitalize;
  font-weight:bold;
  color: #11A7E0;
}
.modal-body span:nth-of-type(2){
  color:#ec029a
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}

.modal-header h2 {
  font-size: 20px;
}
.btn {
  background: #11A7E0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  border-radius:3px;
  opacity:.7;
  transition: all 0.2s;
}
.btn.again {
  background: #aaa;
}
.btn:hover{
  opacity:1
}
.btn.btn-big {
  font-size: 22px;
  padding: 15px 20px;
  min-width: 100px;
  font-family: 'Share Tech Mono', monospace;
  background: #ec029a
}
.btn-close {
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 7px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}